@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

body {
  background: #415b77;
  background: -moz-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #415b77), color-stop(100%, #2c3e50));
  background: -webkit-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
  background: -o-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
  background: -ms-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
  background: radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
  background-color: #2c3e50
}

 .theme-body-color-block {
  background: #eee
}

 .theme-link-color-block {
  background: #ffc200
}

.reveal {
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  color: #eee
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: -0.03em;
  text-transform:  none;
  color: #eee
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  font-size: 96.135px;
}

.reveal h2 {
  font-size: 53.805px;
}

.reveal h3 {
  font-size: 39.525px;
}

.reveal ul li, .reveal pre code {
  line-height: 1.5em;
}

.reveal pre code {
  max-height: none;
}

.reveal a:not(.image), .reveal a:not(.image) {
  color: #ffc200;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease
}

.reveal a:not(.image):hover, .reveal a:not(.image):hover {
  color: #ffda66;
  text-shadow: none;
  border: none
}

.reveal .roll span:after, .reveal .roll span:after {
  color: #fff;
  background: #b38800
}

.reveal section img, .reveal section img {
  margin: 15px;
  border: 4px solid transparent;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ffc200
}

.reveal .controls div.navigate-left, 
.reveal .controls div.navigate-left.enabled {
  border-right-color: #ffc200
}

 .reveal .controls div.navigate-right, 
 .reveal .controls div.navigate-right.enabled {
  border-left-color: #ffc200
}


.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #ffc200
}

.reveal .controls div.navigate-down, 
.reveal .controls div.navigate-down.enabled {
  border-top-color: #ffc200
}

.reveal .controls div.navigate-left.enabled:hover, 
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #ffda66
}

.reveal .controls div.navigate-right.enabled:hover, 
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #ffda66
}

.reveal .controls div.navigate-up.enabled:hover, 
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #ffda66
}

.reveal .controls div.navigate-down.enabled:hover, 
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #ffda66
}

.reveal .progress, 
.reveal .progress {
  background: rgba(0, 0, 0, 0.2)
}

.reveal .progress span, 
.reveal .progress span {
  background: #ffc200;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985)
}

.reveal table th {
  font-weight: bold;
  text-align: center;
}

.reveal table.two-col {
  width: 100%;
}

.reveal table.two-col th, .reveal table.two-col td {
  width: 50%;
}
